.design-container {
  height: 680px;
  width: 100%;
  border: 10px dashed purple;

  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px;
}

@media screen and (max-width: 600px) and (min-width: 479px) {
  .design-container {
    width: 450px;
    margin: 0;
    padding: 0;
    height: 680px;
  }
}
@media screen and (max-width: 750px) and (min-width: 601px) {
  .design-container {
    width: 600px;
    margin: 0;
    padding: 0;
    height: 680px;
  }
}

@media screen and (max-width: 480px) and (min-width: 343px) {
  .design-container {
    width: 320px;
    height: 700px;
    margin: 0;
  }
}
